body{
    background-image: url(https://i.ytimg.com/vi/yGEOXfRfLAo/maxresdefault.jpg);
    align-content: center;
}
.container{
    text-align: center;
}
.trbox{
    width: 60%;
    background-color: white;
    display: inline-block;
    align-content: center;
    text-align: center;
}
#topp{
    position: absolute;
    top: 30%;
    left: 8vw;
}
#signup-Form{
padding: 5vw;
}
.btn btn-link{
    text-decoration: none;
}
#loggedIn{
    float: right;
}
#logout li a{
    color: white;
}
#logout{
    float: right;
}
#loggedout{
    display: none;
}
#loggedIn{
    display: none;
}
#assignup-Form{
    padding: 5vw;
    }
#clabpost{
    display: none;
}
#robopost{
    display: none;
}
#litcpost{
    display: none;
}
#adcpost{
    display: none;
}
#artfpost{
    display: none;
}
#ecelpost{
    display: none;
}
#lcipost{
    display: none;
}
#fotopost{
    display: none;
}
#litmpost{
    display: none;
}
#wtcpost{
    display: none;
}
#mantpost{
    display: none;
}
#arkapost{
    display: none;
}
#ffipost{
    display: none;
}
#kartpost{
    display: none;
}
#udanpost{
    display: none;
}
#acmpost{
    display: none;
}
#fipipost{
    display: none;
}
#sesepost{
    display: none;
}
#siampost{
    display: none;
}
#mismpost{
    display: none;
}
.jumbotron{
    text-align: center;
}   
@media screen and (max-width: 1000px) {
    .trbox {
      width: 100%;
    }
    .col-sm{
        padding-left: 155px;
    }
  }