body{
    background-image: url(https://i.ytimg.com/vi/yGEOXfRfLAo/maxresdefault.jpg);
    align-content: center;
}
.container{
    text-align: center;
}
.trbox{
    width: 60%;
    background-color: white;
    display: inline-block;
    align-content: center;
}
#topp{
    position: absolute;
    top: 30%;
    left: 8vw;
}
#signup-Form{
padding: 5vw;
}
.btn btn-link{
    text-decoration: none;
}
#loggedIn{
    float: right;
}
#logout li a{
    color: white;
}
#logout{
    float: right;
}
#loggedout{
    display: none;
}
#loggedIn{
    display: none;
}
#assignup-Form{
    padding: 5vw;
    }
.subscard{
    background-color: lightskyblue;
}